<!DOCTYPE html>
<html>
<head>
  <title>Hello Vue.js</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/display.css" />
  <link rel="stylesheet" href="css/minesweeper.css" />
  
  <script src="lib/jquery-2.1.4.min.js"></script>
  <script src="lib/vue.min.js"></script>
  <script src="js/minesweeper.js"></script>
</head>
<body>
  <div id="app" style="max-width: {{ 40 * colnum + 10 }}px">
    <section class="frame">
      <header class="indicator">
        <div class="p10 left">
          <span class="countor">{{ remain }}</span>
        </div>
        <div class="p80 center">
          <button class="btn-command" type="button" v-on:click="reset" {{ if (running) { return "disabled" } }}>RESET</button>
        </div>
        <div class="p10 right">
          <span class="countor">{{ time }}</span>
        </div>
      </header>
      <section class="field">
        <div class="line" v-for="(lineidx, line) in lines">
          <li v-for="(tileidx, tile) in line.tiles" class="tile is-{{ tile.state }}" v-on:click="hitTile($event, lineidx, tileidx)" v-on:contextmenu="hitTile($event, lineidx, tileidx)">
            <span v-if="tile.open">{{ tile.label }}</span>
            <span v-if="!tile.open && tile.flag">🏁</span>
          </li>
        </div>
      </section>
    </section>
    
  </div>
</body>
</html>